.secret
.env
node_modules
coverage.json
typechain
typechain-types

#Mac
.DS_Store
.vscode

#next
.next
build
artifacts/@*
artifacts/build-info
artifacts/hardhat
artifacts/*/*/*.dbg.json
artifacts/*/*/*/*.dbg.json
artifacts/*/*/*/*/*.dbg.json
cache
_static

.env.local
public.pem
public/privateKey.pem