/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
} */

.menu-item {
    color: #3079AB;
    margin: auto;
    padding: 12px;
}